/* ============================================================
Note: Customizable CSS
Fonts: font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;
Pages: Login, Dashboard, Configuration
============================================================ */
html,
body {

    color: #ffffff;
    overflow: unset!important;
}
.form-group .btn-default {
    padding: 8px 20px;
        padding-right: 20px;
    padding-right: 20px;
    border-radius: 4px;
    margin-right: 10px;
    background: #3c8dbc !important;
    font-size: 13px;
    color: #fff !important;
    background: -moz-linear-gradient(top, #fdfefe 25%, #f3f5f7 100%);
    background: -webkit-linear-gradient(top, #fdfefe 25%, #f3f5f7 100%);
    background: linear-gradient(to bottom, #fdfefe 25%, #f3f5f7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#f3f5f7', GradientType=0);
    border-color: #3c8dbc;
}
.bootstrap-select .dropdown-toggle {

    background: linear-gradient(#484848 ,#626262,#484848) !important;
    border: none !important;

}
.screenunlock h5
		{
			margin-left:34%;
			color:#fff;
		  display: none;
		}
		.screenunlock{
			display: block;
			background: #2f353a !important;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1111;
			opacity:0.95;
		}
		.screenlock
		{
			display:none;
			background: rgb(100,100,100,0.9) !important;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100% !important;
			z-index: 1111;
		}
		.screenlock > .login-box
		{
			background: #464646;
			height: 267px;
		}
		.screenunlock > .login-box
		{
			background: #464646;
			height: 267px;
		}
/*Workflow */

	.clr{
		color:#747474;
	}
	.btn-def{
		float: right !important;
	}
	.input_box
	{
		min-width: 50px !important;
		border: 1px solid #1C6B98;
		color: #FFF;
		background: #1C6B98;
		text-align: center;
		max-width: 67px;
		border-radius: 4px;
		float: left;
		margin-right: 10px;
	}
	.output_box
	{
		min-width: 50px !important;
		border: 1px solid #cecece;
		color: #1C6B98;
		background: #cecece;
		text-align: center;
		max-width: 67px;
		border-radius: 4px;
		float: left;
		margin-right: 10px;
		font-weight: bold;
	}
	.bank_box{
		min-width: 80px !important;
		border: 1px solid #cecece;
		color: #1C6B98;
		background: #cecece;
		text-align: center;
		max-width: 97px;
		border-radius: 4px;
		float: left;
		margin-right: 10px;
		font-weight: bold;
	}
	.cls_txt{
		color: #EEE;
		font-size: 11px;
		margin-top: 0;
		display: block;
		font-weight: bold;
		margin-left: 15px;
		bottom: 10px;
		position: absolute;
	}
	.icn
	{
		background: #fff;
		margin-right: 2px;
		font-size: 14px;
		color: #1C6B98;
		border-radius: 18px;
		border: 1px solid #1C6B98;
	}
	.config-container .tab-content {
   	 padding: 6px 0 0 0;
	}
	.workflow-drag-area{
		background: url(../img/workflow-box.PNG);
		width: 100%;
		min-height: 50vh;
		border-radius: 7px;
		position: relative;
	}
		.modal-content {
		background:#303030;
	}
	.iconn
	{
		font-size:36px;
	}
	.bankpopup{
		cursor: pointer;
	}
	.events-attachment-button {
    padding: 1px 10px !important;
}
/* Workflow */
/* ========= Login CSS Start ========= */

.login-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../images/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.login-box {
    width: 308px;
    height: 312px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 28px 32px;
    background-color: #464748;
    border: none;
    border-radius: 20px;
}

.login-form {
    width: 100%;
    margin: auto;
    padding: 15px;
}

.login-form h4 {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #858788;
    letter-spacing: 2px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.login-form h5 {
    font-family: 'Raleway', sans-serif !important;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    display: none;
}

.login-form .form-group {
    margin-bottom: 1rem!important;
}

.login-form .form-group .input-group {
    width: 100%;
}

.login-form .form-group .input-group-addon {
    border-radius: 4px 0 0 4px;
    width: 40px;
    height: 36px;
    background-color: #343b41;
    border: 1px solid #23282c;
    padding: 5px;
    color: #fff;
}

.login-form .form-group .input-group-addon .fa {
    font-size: 20px;
}

.login-form .form-group .form-control {
    border-radius: 0 4px 4px 0;
    height: 36px;
    border: 1px solid #23282c;
    border-left: none !important;
}

.login-form .form-group .form-control:focus,
.login-form .form-group .form-control:visited {
    box-shadow: none;
    border-color: transparent;
}

.login-form p {
    text-align: right;
    margin: 8px 0;
}

.login-form p a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.5;
    transition: all 0.7s ease;
}

.login-form p a:hover {
    text-decoration: underline;
}

.btn-signin {
    width: 100%;
    margin: auto;
    padding: 10px 16px;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    background-color: #296885;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #42829c;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.7s ease;
}

.btn-signin:hover {
    color: #fff;
    background-color: #1b516a;
}

/* ========= Login CSS End ========= */

/* ========= Form CSS Start ========= */
.form-control{
    height: 30px;
    border-radius: 2px;
    font-size: 12px;
    color: #ccc;
}
/* ========= Form CSS End ========= */

table tr td.tdimg{
  text-align: left;
}
table tr td.tdimg a{
  padding-left: 10px;
  width: 100%;
}
table tr td.tdimg img{
  width: 30px;
}

/* ========= Labels CSS Start========= */

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.actionsel {
	background: #20a8d8 !important;
	height: 35px;
	border-radius: 5px;
	color: #fff;
  border-color: #20a8d8;
}

span.label {
    text-transform: uppercase;
    font-size: 9px !important;
    color: #fff !important;
    font-weight: bold;
    padding: 4px 10px;
    min-width: 60px;
    line-height: 10px;
    display: inline-block;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-auth {
    background-color: #f69231;
}

.label-success {
  background-color: #00a65a;
}

.label-warning {
  background-color: #f39c12;
}

.label-danger {
  background-color: #dd4b39;
}

.label-gray
{
	background-color: #747474;
}

.label-input
{
	background: #3C8DBC;
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
    padding-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 11px;
    display: inline-block;
		min-width: 60px;
}

.label-output
{
	background: #FFFFFF;
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
    padding-left: 10px;
    margin-right: 10px;
    color: #3C8DBC;
    cursor: pointer;
    font-size: 11px;
    display: inline-block;
		min-width: 60px;
}

.label-input:hover{
	font-weight: bold;
}

.label-output:hover{
	font-weight: bold;
}

.copytoclipboard
{
	margin-left: 5px;
	margin-top: 5px;
}

.copytoclipboardtext
{
	display:block;
	cursor: pointer;
}

.copyrecordfile
{
	display: none;
}
/* ========= Labels CSS End ========= */

.mndtry {
    color: #ff0000;
    font-size: 18px;
    right: -8px;
    top: 2px;
}

/* ========= Player CSS Start ========= */

.telement
{
	color: #f2f906;
	float: left;
	font-weight: bold;
}
.url-control {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

.url-control button {
	width: 80px;
}

#player-container, #source-container, #des-container {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width: 100%!important;
	background: #000000;
}

#player_live {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
}

#player_source, #player_apps {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
}

@media ( max-width : 767px) {
	#player-container {
		height: 300px;
	}
}

#player-notes {
	text-align: center;
	margin-top: 15px;
	margin-bottom: -20px;
	font-size: 13px;
	color: #666;
}

#player {
	width: 100% !important;
	height: 100% !important;
}

 #player-tip {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -20px;
	text-align: center;
	color: #ccc;
	visibility: hidden;
}
#playapppone_player, #playappptwo_player, #playapppthree_player, #playapppfour_player {

  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
}

.pdright
{
	padding-right:0;
  float: left;
}

.player-inner
{
	width: 384px; height: 216px; background: url(../images/play-button.png) center center no-repeat
}
.video-status span#status {
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: 300;
    padding: 4px 10px;
    min-width: 60px;
    line-height: 10px;
    display: inline-block;
    margin: auto;
}
.video-status .label-success{
  background-color: #004A7F;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {

  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }

  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }

  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }

}



@-moz-keyframes glowing {

  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }

  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }

  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }

}



@-o-keyframes glowing {

  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }

  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }

  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }

}



@keyframes glowing {

  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }

  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }

  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }

}
/* ========= Player CSS End ========= */
/* ========= Channels Status Start ========= */
.label-live{
  background-color: #004A7F;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

#channel-up-time p {
  display: inline-block;
  font-family: monospace;
  color: #ffff00;
}
/* new Design Implementation */

.counter
{
	color: #f2f906;
	font-size: 13px;
	font-family: monospace;

}
.text-blue{color:#0073b7 !important;}
/* ========= Channels Status End ========= */

/* From beyond design  */
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }

box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

text.highcharts-credits {
    display: none;
}

.box {
    background: rgba(255, 255, 255, .1)!important;
    border: 1px solid black;
}
.btndis {
    cursor: default;
    background: gray !important;
    border: none;
}
.btndis:hover
{
	cursor: default;
	background: gray !important;
}

.publisher_box {
	max-width : unset!important;
}
/* ================datetimepicker==========================*/
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: #2f363a!important;
}

.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
    background: #2f363a!important;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #2f363a!important;
}

.bootstrap-datetimepicker-widget table td span:hover, .bootstrap-datetimepicker-widget table td i:hover {
    background: #2f363a!important;
}

/* ================Assets==========================*/
.rh5v-DefaultPlayer_component {
    position: relative;
    font-family: Helvetica;
    font-size: 11px;
    background-color: #000;
}
.rh5v-DefaultPlayer_video {
    width: 100%;
    height: 100%;
}
.rh5v-Overlay_component {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}
.rh5v-DefaultPlayer_controls {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 34px;
    display: flex;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
