body{
    background: url(../images/bg.jpg)!important;
}

.form-bootsa {
    width: 50%;
    margin: 5% auto;
    background: #fafafa;
    border: 1px solid #e9e9e9;
    padding: 20px;
}

.form-bootsa h1 {
    margin: 30px 0;
    text-align: center;
    font-weight: 300;
    color: #1fa3ab;
}

.form-bootsa p {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 22px;
}

.form-group {
    display: block!important;
    margin: 5% 0;
}

.input-group {
    width: 100%;
}

.input-group input{
    width: 100%;
}

.end-btns {
    padding: 5% 0 15%;
}

.end-btns ul {
    padding: 0;
    margin: 0;
}

.end-btns ul li {
    list-style: none;
    display: block;
}

ul.action-li{
    padding:0;
    margin: 0;
}

ul.action-li li {
    display: inline-block;
}

.back{
	float: left;
}

.finish{
	float: right;
}

.logo {
    text-align: center;
    
}

.nav{
	
	font-size:13px;
	font-weight:bold;
}
.logo img {
    width: 120px;
    text-align: center;
}

.fb-login {
    margin: 10px 0;
}

.fb-login b {
    padding-bottom: 10px;
    display: block;
}

.all-btn{
	background: #1fa3ab!important;
    border: 0!important;
    color: #fff!important;
    text-shadow: none!important;
}

.all-btn:hover{
	background: #0fc0ca!important;
	color: #fff!important;
}

.logout{
    background: #c12e2a!important;
    border: 0!important;
}

.logout:hover{
    background: #db534f!important;
    color: #fff!important;
}

.facebook-btn{
    background: #265a88!important;
    border: 0!important;
}

.facebook-btn:hover{
    background: #337ab7!important;
    color: #fff!important;
}

.finish{
    background: #419641!important;
    border: 0!important;
}

.finish:hover{
    background: #5cb85c!important;
    color: #fff!important;
}

.input-group input {
    border: 1px solid #1fa3ab;
    border-radius: 2px;
    box-shadow: none;
    padding: 5px 20px 5px 40px;
}

.input-group i {
    color: #1fa3ab;
    position: absolute;
    z-index: 99;
    padding: 10px 0 0 15px;
}


.end-btns2 {
    padding: 0 0 5% 0;
}

.end-btns2 ul {
    padding: 0;
    margin: 0;
}

.end-btns2 ul li {
    list-style: none;
    display: inline-block;
}

.end-btns2 ul li+li {
    float: right;
}