/* External Custom Stylesheet*/
.summary_flow{
	width: 200px;
	border: 1px solid #FFF;
	height: 300px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	background: #747474;
}
.sum_head
{
	background: #191919;
	text-align: center;
	margin-bottom: 10px;
	padding: 5px;
}
.label-input
{
	background: #3C8DBC;
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
    padding-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 11px;
    display: inline-block;
		min-width: 60px;
}
.label-output
{
	background: #FFFFFF;
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
    padding-left: 10px;
    margin-right: 10px;
    color: #3C8DBC;
    cursor: pointer;
    font-size: 11px;
    display: inline-block;
		min-width: 60px;
}
.label-input:hover{
	font-weight: bold;
}
.label-output:hover{
	font-weight: bold;
}
.copytoclipboard
{
	margin-left: 5px;
	margin-top: 5px;
}
.copytoclipboardtext
{
	display:block;
	cursor: pointer;
}
.copyrecordfile
{
	display: none;
}
.content {
	padding-top: 50px;
}
.remote
{
	color:#e1ba1e;
}

.c-orange
{
	color:#f39c12 !important;
}
body.modal-open {
  padding-right: 0 !important;
}
body{
  padding-right: 0 !important;
}

.sched
{
	margin: 0 auto;
	position: absolute;
	top: 4px;
	left: 42%;
	font-size: 37px;
}
.sched > a
{
	cursor: pointer;
}
.sched > a:first-child
{
	vertical-align:middle;
}
.sched > a > i
{

}
.sched span
{

}
.clok
{
	position: absolute;
	left: 2px;
	top: 27px;
	background: #fff;
	color: #000;
	width: 24px;
	height: 26px;
	text-align: center;
	font-size: 20px;
	padding: 3px;
}
.clok1 {

    position: absolute;
    left: 2px;
    top: 37px;
    background: #fff;
    color: #000;
    width: 24px;
    height: 26px;
    text-align: center;
    font-size: 20px;
    padding: 3px;

}
.faa-parent.animated-hover:hover > .faa-spin, .faa-spin.animated, .faa-spin.animated-hover:hover {
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin-right: 7px;
}
.label-live
{
	font-size:11px !important;
}

#toast-container > div {opacity: .95!important;box-shadow: none !important;}
.alert{position: absolute;right: 14px;top: 1%;z-index: 11111111;width: auto;}
.alert > .close{margin-left:5px;}
.fb-notification {
    margin-right: -15px;
    margin-left: -15px;
    right: 0;
    padding: 15px 35px 15px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    top: 1%;
    z-index: 11111111;
    width: auto;
}
.sidelink
{
	font-size: 19px;
	cursor: pointer;
	color: #fff;
	z-index: 1111111111111111111111111111111;
	display: inline;
	width: 27px;
	height: 37px;
	position: fixed;
	right: 0;
	top: 60px;
	background: #3C8DBC;
	padding: 6px;
	border-radius: 4px 0px 0px 13px;
}
.sidelinkheader
{
	font-size: 19px;
	cursor: pointer;
	color: #fff;
	z-index: 1111111111111111111111111111111;
	display: inline;
	width: 100%;
	height: 37px;
	margin-bottom: 12px;
	right: 0;
	top: 0%;
	background: #3C8DBC;
	padding: 6px;
	border-radius: 4px 0px 0px 13px;
	display: inline-block;
}
.sidenav ul{
	padding: 0;
	margin: 0;
}
.sidenav ul .lirightside
{
	padding-left: 26px;
}
.sidenav ul li{
padding-left: 15px;
margin-bottom: 11px;
list-style: none;
}

.sidenav h3{
	padding: 0;
	margin: 0;
    margin-bottom: 0px;
    margin-left: 0px;
	font-size: 11px;
	margin-left: 12px;
	font-weight: bold;
	background:#191919;
	color: #fff;
	padding: 7px;
	margin-bottom: 7%;
}
.sidenav h4{
	padding: 0;
	margin: 0;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 10px;
	margin-left: 12px;
	font-weight: bold;
	background: #3C8DBC;
	color: #fff;
	padding: 7px;
	margin-bottom: 7%;
	margin-left: 22px;
	border-radius: 10px 0px 0px 10px;
}
.sidenav ul li span{
	padding: 0;
	font-size: 11px;
	padding: 7px;
	color: #fff;
}
.sidenav {

    width: 200px;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: -200px;
    background-color: #303030;
    overflow: none;
    transition: 0.5s;
    padding-top: 0px;

    z-index: 111111111111111111;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: relative;
	top: -23px;
	right: 0;
	margin-left: 0;
	height: 23px;
	padding: 0;
	font-size: 27px;
	border: 1px solid #303030;
	text-align: center;
	vertical-align: middle;
	line-height: 7px;
	padding: 5px;
	left: -5px;
	width: 25px;
	background: #3C8DBC;
	border-radius: 31px;
	color: #fff;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.dnone
{
	display:none;
}
.groupimg
{
	width:79px;
	height: 68px;
}
.permis{
	width:15%;
	border-right:1px solid;
	text-align: center;
}
.permish{
	width: 14%;
	border-right: 1px solid;
	font-weight: bold !important;
	font-size: 13px !important;
	color: #ccc !important;
}
.permish i{
	font-size: 17px !important;
	margin-right: 12px;
	border: 1px solid #000;
	background: #3C8DBC;
	color: #191919 !important;
	padding: 6px;
	border-radius: 50%;
	height: 33px;
	width: 32px;
	text-align: center;
}
.permishd{
	text-align: center;
	border-right: 1px solid;
}
.permission_box
{
	width: 15% !important;
	display: inline-block;
	height: 25px;
}
.production-box
{
	width: 8%;
	padding-right: 0;
	padding-left: 0;
	float: left;
	margin-right: 1%;
	margin-left: 1%;
}
.production-box h2
{
	width: 100%;
	padding-left: 0;
	text-align: center;
	font-size: 34px;
}
.production-box h3
{
	width: 100%;
padding-left: 0;
text-align: center;
font-size: 17px;
}


}

.percent{
	display: inline-block;
	line-height: 110px;
	z-index: 2;


}
&:after{
		content: '%';
		margin-left: 0.1em;
		font-size: .8em;
	}
.counter
{
	color: #f2f906;
	font-size: 13px;
	font-family: monospace;

}
.clr {

}
p.counter {
	margin: 0;
}

.clock
{
	border: none;
	background: none;
	letter-spacing:1px;
	display: inline;
	font-size: 14px;
	font-weight: 100;
}

#channel-up-time
{
	width:98px;
}
.timeRef
{
	width:5px;
	margin:0;
	display: block;
	color: #f2f906;
	float: left;
}
.telement
{
	color: #f2f906;
	float: left;
	font-weight: bold;
}
.url-control {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

.url-control button {
	width: 80px;
}

#player-container, #source-container, #des-container {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width: 100%!important;
	background: #000000;
}

#player_live {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
}

#player_source, #player_apps {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
}

@media ( max-width : 767px) {
	#player-container {
		height: 300px;
	}
}

#player-notes {
	text-align: center;
	margin-top: 15px;
	margin-bottom: -20px;
	font-size: 13px;
	color: #666;
}

#player {
	width: 100% !important;
	height: 100% !important;
}

 #player-tip {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -20px;
	text-align: center;
	color: #ccc;
	visibility: hidden;
}

.player-inner
{
	width: 384px; height: 216px; background: url(../images/play-button.png) center center no-repeat
}
.video-status span#status {
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: 300;
    padding: 4px 10px;
    min-width: 60px;
    line-height: 10px;
    display: inline-block;
    margin: auto;
}
.video-status .label-success{
  background-color: #004A7F;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {

  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }

  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }

  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }

}



@-moz-keyframes glowing {

  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }

  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }

  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }

}



@-o-keyframes glowing {

  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }

  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }

  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }

}



@keyframes glowing {

  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }

  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }

  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }

}





.label-gray
{
    background:#747474;
    color:#747474 !important;
}
.video-buttons {
    text-align: center;
}
.logo-mini
{
	display: block !important;
	width: 90%;
	margin: auto;
	padding-top: 10px;
}



.multiselect-container li.disabled
{
	background:#cecece;
}
.multiselect-container li.disabled a:hover
{
	background:#cecece !important;
}
.ht
{
 height: 62px;
	margin-top: 9px;
}
.ht > span
{
 	display: block;
	height: 25px;
	color: #1C6B98 !important;
}
.pdleft{
	padding-left:0;
}
.multiselect-native-select .btn-group
{
	width:100%;
}
.multiselect-native-select .btn-group .dropdown-toggle
{
	width:100%;
}
.multiselect-native-select .dropdown-menu{
	width:100%;
}
.btn-google {

    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);

}
.btn-soundcloud {
    color: #fff;
    background-color: #c40;
    border-color: rgba(0,0,0,0.2);
}
.btn-soundcloud:hover {
    color: #fff;
    background-color: #c40;
    border-color: rgba(0,0,0,0.2);
}
.loaddiv
{
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	z-index: 22222222;
	opacity: 0.8;
	text-align: center;
	padding-top: 20%;
}
.form-group .bootstrap-select .btn-default {
    padding: 0px 20px;
    padding-right: 20px;
    border-radius: 2px;
    margin-right: 10px;
    font-size: 13px;
    color: #fff !important;
    background: -moz-linear-gradient(top, #fdfefe 25%, #f3f5f7 100%);
    background: -webkit-linear-gradient(top, #fdfefe 25%, #f3f5f7 100%);
    background: linear-gradient(to bottom, #fdfefe 25%, #f3f5f7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#f3f5f7', GradientType=0);
    border-color: #3c8dbc;
    box-shadow: none;
}
.form-group .bootstrap-select .btn {
     text-shadow:none;
}

.form-group .btn-default {
    padding: 8px 20px;
        padding-right: 20px;
    border-radius: 4px;
    margin-right: 10px;
    background: #3c8dbc !important;
    font-size: 13px;
    color: #fff !important;
    background: -moz-linear-gradient(top, #fdfefe 25%, #f3f5f7 100%);
    background: -webkit-linear-gradient(top, #fdfefe 25%, #f3f5f7 100%);
    background: linear-gradient(to bottom, #fdfefe 25%, #f3f5f7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#f3f5f7', GradientType=0);
    border-color: #3c8dbc;

}
.login-logo
{
	margin:0;
	width: 100%;
  padding-bottom: 42px;
}
.screenunlock h5
{
	margin-left:34%;
	color:#fff;
  display: none;
}
.multiselect-native-select .dropdown-toggle
{
	background:linear-gradient(#484848 ,#626262,#484848) !important;
	border: none !important;
}
.bootstrap-select .dropdown-toggle
{
	background:linear-gradient(#2f353a ,#3a4148,#2f353a) !important;
	border: none !important;
}
.multiselect-native-select .open .dropdown-menu
{
	background: #272727 !important;
	border: 1px solid #272727;
}
.bootstrap-select .open
{
	margin-top: 8px;
}
.bootstrap-select .dropdown-menu .dropdown-item{
	cursor: pointer !important;
	padding: 0 !important;
}
.bootstrap-select .dropdown-menu .dropdown-item > span{
	padding: 10px 20px;
}
/*.bootstrap-select .dropdown-menu
{
	background: #272727 !important;
	border: 1px solid #272727;
}
.bootstrap-select .dropdown-menu li:hover
{
	background: #0071C9 !important;
}*/
.bootstrap-select .dropdown-menu li
{
	color:#fff;
}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border: none !important;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #368CBE !important;
}
.targenbdib > i
{
	position: relative;
}
.archTargetRestore > i
{
	position: relative;
}
.targenbdib > i > i
{
	position: absolute;
	top: -8px;
	left: -9px;
	font-size: 191% !important;
	color: rgba(217, 83, 79, 0.7) !important;
}
.archTargetRestore > i > i
{
	position: absolute;
	top: -8px;
	left: -9px;
	font-size: 191% !important;
	color: rgba(217, 83, 79, 0.7) !important;
}



.label-gray
{
	background:#747474;
	color:#747474 !important;
}
.btn-twitch {
    color: #fff;
    background: #6441A5;
    border-color: rgba(0,0,0,0.2);
}

.btn-twitch:hover, .btn-twitch:focus, .btn-twitch:active, .btn-twitch.active, .open .dropdown-toggle.btn-twitch {
	color: #fff;
    background-color: #472e75;
    border-color: rgba(0,0,0,0.2);
}
.tooltip > .tooltip-inner {
  background-color: #3C8DBC;
  color: #fff;
  border: 1px solid white;
  padding: 3px ;
  font-size: 12px;
  max-width:350px;
}
.banks-action .tooltip
{
	left: -110px !important;
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.visa{background-image:url(../images/facebook.png);width: 140px !important;height:45px !important;}
.mastercard{background-image:url(../images/youtube.png);width: 140px !important;height:45px !important;}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.pdright
{
	padding-right:0;
}
/*
.switch {
	position: relative;
	display: inline-block;
	width: 43px;
	height: 17px;
}

.switch input {display:none;}
*/
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #3c8dbc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 5px !important;
	padding: 0;
	width: 36px;
	height: 21px;
	border: 1px solid #fff;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2dacd1;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.ip{
	margin-bottom: 83px;
}

.ip div{
	padding-left: 0;
	padding-right: 10px;
}

.def-ic{
	font-size: 8px;
	padding-top: 3.4rem;
}

.switch2 {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 11.333px;
}

.switch2 input {display:none;}

.slider2 {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider2:before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider2 {
	background-color: #36af47;
}

input:focus + .slider2 {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider2:before {
	-webkit-transform: translateX(8px);
	-ms-transform: translateX(8px);
	transform: translateX(8px);
}

/* Rounded sliders */
.slider2.round2 {
	border-radius: 34px;
}

.slider2.round2:before {
	border-radius: 50%;
}
.screenunlock{
	display: block;
	/*background: rgb(100,100,100,0.9) !important;*/
	background: url("../images/login-bg.jpg");
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1111;
	opacity:0.95;
}
.screenlock
{
	display:none;
	background: rgb(100,100,100,0.9) !important;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1111;
}
.screenlock > .login-box
{
	background: #464646;
	height: 267px;
}
.screenunlock > .login-box
{
	background: #464646;
	height: 267px;
}
.label-auth {
    background-color: #f69231 !important;
}
.ui-autocomplete
{
	background:#191919;
	border:none;
}
.ui-autocomplete li div:hover
{
	background:#191919 !important;

}
.ui-autocomplete li:hover
{
	background:#191919 !important;
}
.respData img
{
	margin-right:5px;
}
.respData span
{
	color: #FFFFF5 !important;
}
/*
#player-container1{
	position: relative;
	width: 100%;
	height: 300px;
	/*background: url(../img/rukavat.jpg);
	background-size: 100%;*/
	background:black;
}
#player_source
{
	width:100%;
	height: 300px;
}

#twitchPlayer, .fb-video.fb_iframe_widget.fb_iframe_widget_fluid_desktop, #player_source_rtmp , #YTplayer
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
}

.mrgnBtm
{
	margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
	#YTplayer
	{
		height:180px;
	}
	#player_source_rtmp
	{
		height: 180px;
	}
	#player_source
	{
		height: 180px;
	}
	#player-container1{
		height: 180px;
	}
	.srcply{
		padding-right:0;
	}
	#twitchPlayer
	{
		height: 180px;
	}
}
*/



/* Players */
#player_source, #player_live {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
}

/* Gateway */

.box.box-solid {
	border-top: 1px solid;
}

.events-attachments {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events-attachments li {
    float: left;
    width: 120px;
    /* border: 1px solid #eee; */
    margin-bottom: 12px;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

.events-attachment-button {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 20px 10px;
}
.banks-action {
  position:  absolute;
  right:  0;
  top: 0;
}

.banks-action li {
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}
.events-attachment-button.inactive {
    color: #666;
}

.counter.inactive {
    color: #666!important;
}

#localsources
{
	margin-top: 10px !important;
	float: right;
}
#localsources label
{
	font-size: 12px;
}
#removedropGateway label
{
	font-size: 12px;
}
#removedropGateway
{
	float: left;
}
.ajxload
{
	width: 56px;
	position: absolute;
	top: 0;
	left: 26%;
	display: none;
}
.ajxSload
{
	width: 18%;
  /*position: absolute;
	top: 34px;
	left: 0;
	height: 37px;*/
  margin: 10px 0;

	display: inline-block;
}
.ajxLload
{
	width: 18%;
	/*position: absolute;
	top: 34px;
	left: 0;
	height: 37px;*/
	margin-top: 21px;

}
.infoSources{
	float: right;
	width: 80%;
	margin-top: 8px;
	font-size: 12px;
  font-weight: normal;
  color: #7f7f7f;
}
.infoSources ul{
	padding: 0;
}
.infoSources ul li{
	list-style: none;
}

.bg-aqua
{
  background: none!important;
  border: 1px solid #23282c;
}
.groupfile
{
	display: none !important;
}
